body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
}

.component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.content {
    text-align: center;
    background-color: white;
    padding: 1rem;
    width: 280px;
    height: 430px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 0px rgba(119, 119, 119, 0.75);

    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;

}

.content:hover {
    transform: scale(1.05);
}

.content img {
    width: 280px;
    border-radius: 10px;
}

@media screen and (max-width: 375px) {
    .content {
        width: 250px;
        height: 400px;
    }

    .content img {
        width: 250px;
    }

    .content:hover {
        transform: none;
    }
}

.content h1 {
    font-size: 20px;
    color: hsl(218, 44%, 22%);
}

.content p {
    font-size: 15px;
    font-weight: lighter;
    margin-top: 0;
    color: hsl(220, 15%, 55%);
}

.attribution {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 10vh;;
}

.attribution p {
    font-size: 13px;
}